@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

:root {
  --bg-color: #333;
  --def-color: #d3e6f1;
  --def-accent-color: #abc;
  --link-color: #08c;
}

body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 105%;
  color: #333;
  line-height: 1.5;
  overflow-x: hidden;
}

header {
  background-color: var(--bg-color);
  padding: 5px 0px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  /* max-width: 585px; */
  /* border-bottom: 2px solid #000; */
}

header h1 {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
  color: #fff;
  /* font-family: "Times New Roman", Times, serif; */
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header h1 a:hover,
.back a:hover {
  color: #ccc;
  text-decoration: none;
}

header p {
  color: #fff;
}
p{
    color: rgb(71, 71, 71);
    text-align: center;
}
#list1 { 
    list-style: none;
}
#customHeader{ 
    /* for specific element changes in css ? probably */
    color: yellow; 
    text-align: left; 
}
