h1{
    color: white;
    text-align: center;
    size: 75px; 
}
header h1 {
   background-color: black;
   font-family: "Roboto"; 
   color:white;
}
p{
    color: rgb(71, 71, 71);
    text-align: center;
}
#list1 { 
    list-style: none;
}
#customHeader{ 
    /* for specific element changes in css ? probably */
    color: yellow; 
    text-align: left; 
}