/*h1{
    color: white;
    text-align: center;
}
p{
    color: rgb(71, 71, 71);
    text-align: center;
}*/

#customHeader{ 
    /* for specific element changes in css ? probably */
    color: yellow; 
    text-align: left; 
}